@{title('Something awesome')}

<div class="row">
  <div class="jumbotron">
    <h1 class="display-4">Security Address Checker</h1>
    <p class="lead">Simple Site checker</p>
    <hr class="my-4" />
  </div>
</div>
<div class="row">
  <form id="address-form">
    <div class="form-group">
      <label for="inputAddress">Enter address</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="Enter address"
      />
      <small id="addressHelp" class="form-text text-muted"
        >Please enter valid address</small
      >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div><h2 id="output-text"></h2></div>

<script>
  $(document).ready(function() {
    $("#address-form").submit(function(e) {
      e.preventDefault();
      $("#output-text").html("");

      var safe_sites = ["ox4", "msn.com"];

      var inputAddress = $("#inputAddress").val();

      if (safe_sites.indexOf(inputAddress) > -1) {
        $("#output-text").html("Address is safe");
      } else {
        $("#output-text").html("Address is not in our safe list");
      }

      console.log();
    });
  });
</script>
